
.add_answer {
	display: none;
}

.edit_answer {
	overflow: auto;
	margin-bottom: 10px;
}

.edit_answer .answer_field {
	float: left;
	width: 49%;
	margin-right: 2%;
}

.edit_answer .answer_title {
	float: left;
	width: 49%;
}

.edit_answer .regular-text {
	width: 98%;
}

#pageparentdiv p:first-child,
#parent_id {
	display: none;
}

.cftp_dt_container {
	white-space: nowrap;
	background: #eee;
	padding: 40px 40px 0;
	margin-top: 15px;
	border: 1px solid #ddd;
}

.cftp_dt_level {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 320px;
}

.cftp_dt_node {
	margin-bottom: 50px;
	padding: 5px 10px;
	background: #fff;
	border: 1px solid #fff;
	box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.1 );
	width: 200px;
}

.cftp_dt_node p {
	margin: 5px 0;
}

.cftp_dt_node:hover .row-actions {
	visibility: visible;
}
