
.add_answer {
	display: none;
}

.edit_answer {
	overflow: auto;
	margin-bottom: 10px;
}

.edit_answer .answer_field {
	float: left;
	width: 49%;
	margin-right: 2%;
}

.edit_answer .answer_title {
	float: left;
	width: 49%;
}

.edit_answer .regular-text {
	width: 98%;
}

#pageparentdiv p:first-child,
#parent_id {
	display: none;
}

.cftp_dt_container {
	white-space: nowrap;
}

.cftp_dt_level {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.cftp_dt_level_question {
	width: 300px;
}

.cftp_dt_level_answer {
	width: 220px;
}

.cftp_dt_node {
	margin-bottom: 50px;
	border-radius: 3px;
	padding: 5px 10px;
}

.cftp_dt_node p {
	margin: 5px 0;
}

.cftp_dt_node_question {
	border: 2px solid #444;
	width: 150px;
}

.cftp_dt_node_answer {
	border: 2px solid #888;
	width: 150px;
}

.cftp_dt_node:hover .row-actions {
	visibility: visible;
}